<div class="pageaccueil">



    <div class="formulaireConnexion">
        <form>
            <!-- ng form est capable de fournir toutes les informations du formulaire à flogin-->
            <!-- f.value prend chaque valeur du formulaire -->
            <div id="formulaire" class="card p-3">
                <div class="alert alert-danger text-center">

                </div>
                <div id="formulaire" class="md-form">

                    <label id="formulaire">Pseudo</label>
                    <input id="formulaire" name="loginUser" type="text" class="form-control" style="margin-top: 15px;">
                    <!-- name correspond aux champs de la table qu'on rentre dans postman -->
                </div>
                <div id="formulaire" class="md-form">
                    <label id="formulaire">Mot de passe</label>
                    <input id="formulaire" name="passwordUser" type="password" class="form-control "
                        style="margin-top: 15px;">
                </div>

                <button type="submit" class="btnPrincipal  btn  btn-block btn-sm">Connexion</button>
                <br>


            </div>
        </form>

    </div>
</div>