

form {
    display: block;
    margin-top: 0em;
}

.form {
    position: absolute;
    top: 35%;
    left: 50%;
    background: #fff;
    width: 355px;
    margin: -140px 0 0 -182px;
    padding: 40px;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

section {
    display: block;
}

body {
    background: #a4a6a8;
    background-size: cover;
    font-family: 'open sans', helvetica, arial, sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: block;
    margin: 8px;



}



img {
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 100%;
    height: 100%;
}

div {
    display: block;
}

element.style {
    width: 245px;
}

.textinput {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px 15px;
    padding: 15px;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 14px;
}

input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
h2 {
    margin: 0 0 20px;
    line-height: 1;
    color: #ed0909;
    font-size: 18px;
    font-weight: 400;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}



.forget {
    text-align: center;
    margin: 5px auto 15px;
    font-size: 0.8em;
}


.button {
    cursor: pointer;
    background: #606266;
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-family: 'open sans condensed';
    font-size: 1em;
    font-weight: 400;

}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    box-sizing: border-box;
    
}