section.form.animated.flipInX {}

form {
    display: block;
    margin-top: 0em;
}

.form {
    position: absolute;
    top: 35%;
    left: 50%;
    background: #fff;
    width: 285px;
    margin: -140px 0 0 -182px;
    padding: 40px;
    box-shadow: 0 0 3px rgb(0 0 0 / 30%);
    border-radius: 10px;
}

section {
    display: block;
}

body {
    background: #a4a6a8;
    background-size: cover;
    font-family: 'open sans', helvetica, arial, sans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;



}

img[Attributes Style] {
    width: 100%;
    height: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

div {
    display: block;
}

element.style {
    width: 245px;
}

.textinput {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px 15px;
    padding: 15px;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 14px;
}

input {
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.forget {
    text-align: center;
    margin: 5px auto 15px;
    font-size: 0.8em;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.button {
    cursor: pointer;
    background: #606266;
    width: 100%;
    padding: 15px 15px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-family: 'open sans condensed';
    font-size: 1em;
    font-weight: 400;

}

input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}