<div class="row">

  <!-- DIV tableau gestion Stock  -->
  <div class="col-9 tableau">
    <div class="mat-elevation-z8">
      <article class="table-header">
        <button class="button-add-row" mat-button (click)="addRow()">Add Row</button>
      </article>
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by col.key" [ngSwitch]="col.key">
            <span *ngSwitchDefault>{{ col.label }}</span>
            <div *ngIf="suppr==true">
              <span *ngSwitchCase="'isSelected'">
                <mat-checkbox
                  (change)="selectAll($event)"
                  [checked]="isAllSelected()"
                  [indeterminate]="!isAllSelected() && isAnySelected()">
                </mat-checkbox>
              </span>  
            </div>
            
          </th>
          <td mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
              </div>
              <span *ngSwitchDefault>
                {{ element[col.key] }}
              </span>
              <div *ngIf="suppr==true">
                <ng-container *ngSwitchCase="'isSelected'">
                  <mat-checkbox
                  (change)="element.isSelected = $event.checked"
                  [checked]="element.isSelected">
                  </mat-checkbox>
                </ng-container>
              </div>
            </div>
            <div *ngIf="element.isEdit">
              <div class="btn-edit" *ngIf="col.key === 'isEdit'; else dataField">
                <button mat-button (click)="modifProduct(element)">Done</button>
              </div>
              <ng-template #dataField>
                <div *ngIf="col.key!='isSelected'">
                  <mat-form-field>
                    <input
                      [type]="col.type"
                      matInput
                      [(ngModel)]="element[col.key]"
                    />
                  </mat-form-field>
                </div>
                
              </ng-template>
            </div>
          </td>
        </ng-container>

        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    
      <mat-paginator [length]="lengthDataSource" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]"
        showFirstLastButtons></mat-paginator>
    </div>
  
  </div>
  
  <div class="col-3 filtres">
    <div class="row">
      <div class="col-6">
        Ajouter un équipement
        <button mat-icon-button ><mat-icon>add</mat-icon>
        </button>
        
      </div>
      <div *ngIf="suppr==false" class="col-6">
        Supprimer équipement(s)
        <button mat-icon-button (click)="modeSuppression()"><mat-icon>delete</mat-icon>
        </button>
      </div>
      <div *ngIf="suppr==true" class="col-6">
        Supprimer équipement(s)
        <button mat-icon-button (click)="removeSelectedRows()"><mat-icon>delete</mat-icon>
        </button>
      </div>

    </div>

  </div>
  

</div>


