table {
  width: 100%;
}

/*
.mat-column-typeProduct{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}

.mat-column-refProduct{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}
.mat-column-owner{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}
.mat-column-entryDate{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}
*/


.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #ff001947;
}

.tableau{
  padding: 50px;
}

.filtres{
  padding: 50px;
}