<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nameProduct">
      <th mat-header-cell *matHeaderCellDef> nameProduct </th>
      <td mat-cell *matCellDef="let element"> {{element.nameProduct}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="refProduct">
      <th mat-header-cell *matHeaderCellDef> refProduct </th>
      <td mat-cell *matCellDef="let element"> {{element.refProduct}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="owner">
      <th mat-header-cell *matHeaderCellDef> owner </th>
      <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="entryDate">
      <th mat-header-cell *matHeaderCellDef> entryDate </th>
      <td mat-cell *matCellDef="let element"> {{element.entryDate}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>