table {
  width: 100%;
}

/*
.mat-column-typeProduct{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}

.mat-column-refProduct{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}
.mat-column-owner{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}
.mat-column-entryDate{
  border-right: 1px solid;
  border-color: rgb(227, 227, 227);
}
*/

/*
.mat-mdc-row:hover .mat-mdc-cell {
  background-color: #ff001947;

}
*/

.tableau {
  padding: 50px;
}

.filtres {
  padding: 50px;
}

.mat-mdc-row:hover .inStock {
  background-color: #3cff0047;
}

.mat-mdc-row:hover .notInStock {
  background-color: #ff001947;
}

.pastilleInStock {
  color: rgb(130, 216, 0);
  text-align: center;
  margin: 0%;
}

.pastilleOutOfStock {
  color: red;
  text-align: center;
  margin: 0%;
}

.inputTableau {
  height: 60px;
  max-width: 150px;
  width: fit-content;
  font-size: 14px;
  margin: 0%;
}

.refProductTableau {
  height: 60px;
  max-width: 100px;
  width: fit-content;
  font-size: 14px;
  margin: 0%;
}

.datesTableau {
  height: 60px;
  max-width: 120px;
  width: fit-content;
  font-size: 14px;
  margin: 0%;
}

.contentTableau {
  text-align: center;

}


#invisibleButton {
  border: none;
  background: none;
  outline: none;
}

#expansionPanel {
  max-width: 100%;
  min-width: 100%;
  margin: 10px;
}

#bouton {
  border-style: solid 2px;
  border-radius: 7px;
  background-color: rgb(228, 226, 226);
}

#bouton:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: rgb(189, 189, 189);
}

#bouton_trier {
  border-style: solid 2px;
  background-color: rgb(228, 226, 226);
  border-radius: 7px;
}

#bouton_trier:hover {
  transform: scale(1.1);
  font-weight: bold;
  background-color: rgb(151, 199, 79);
}