@import '~@angular/material/prebuilt-themes/indigo-pink.css';

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

li a:focus {
    background-color: rgb(179, 39, 39);
}

mat-icon {
    color: white;
}

span {
    opacity: 0.7;
}

#notif:hover {
    background-color: #ff001947;
}

#notif {
    border: none;
    background-color: white;
}

#notification {
    color: red
}

#noNotification {
    color: white
}