<ul>
  <div class="row">
    <div class="col-10">
      <li><a routerLinkActive="menu-active" routerLink='accueil'>Accueil</a></li>
      <li><a routerLinkActive="menu-active" routerLink='stock'>Gestion de stock</a></li>
      <li><a routerLinkActive="menu-active" routerLink='rapports'>Générer des rapports</a></li>
      <li><a routerLinkActive="menu-active" routerLink='alertes'>Gestion des alertes</a></li>
    </div>

    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon
        style="color: red;">notification_important</mat-icon></button>
    <mat-menu #menu="matMenu">
      <div class="m-2" id="notif" (click)="goToAlerte()" *ngFor="let notif of notification">
        <span><i>{{notif.date | date: 'le dd/MM/yy, à HH:mm :'}}</i></span> <button id="deleteNotif"
          mat-icon-button><mat-icon style="color: black;">clear</mat-icon> </button>
        <p><b>"{{notif.alerte}}"</b> à été déclenchée.</p>
      </div>
    </mat-menu>
  </div>
</ul>
<router-outlet></router-outlet>