<ul>
  <div class="row">
    <div class="col-10">
      <li><a routerLinkActive="menu-active" routerLink='accueil'>Accueil</a></li>
      <li><a routerLinkActive="menu-active" routerLink='stock'>Gestion de stock</a></li>
      <li><a routerLinkActive="menu-active" routerLink='rapports'>Générer des rapports</a></li>
      <li><a routerLinkActive="menu-active" routerLink='alertes'>Gestion des alertes</a></li>
    </div>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon matBadge="1"
        matBadgeColor="warn">notifications</mat-icon></button>
    <mat-menu #menu="matMenu">

    </mat-menu>
  </div>
</ul>
<router-outlet></router-outlet>