<body>
    <div class="row">
        <div class="col-7 tableau">
            <h1>Liste des alertes</h1>
            <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                    <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="!element.isEdit">{{element[column]}}</div>
                        <div *ngIf="element.isEdit">
                            <mat-form-field appearance="outline" style="width:150px !important"
                                *ngIf="column==='alerte'">
                                <input name="Alerte" [(ngModel)]="element.alerte" placeholder="Nom de l'alerte"
                                    matInput />
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:70px !important" *ngIf="column==='seuil'">
                                <input name="Seuil" [(ngModel)]="element.seuil" placeholder="Limite minimale" matInput
                                    [type]="'number'" min="0" />
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:130px !important"
                                *ngIf="column==='active'">
                                <mat-select name="Active" [(ngModel)]="element.active" placeholder="On/Off">
                                    <mat-option [value]="true">On</mat-option>
                                    <mat-option [value]="false">Off</mat-option>
                                </mat-select>
                                <mat-icon *ngIf="element.active == true " style="color: green;"
                                    matSuffix>power_settings_new</mat-icon>
                                <mat-icon *ngIf="element.active == false " style="color: red;"
                                    matSuffix>power_settings_new</mat-icon>
                                <mat-icon *ngIf="element.active != true && element.active!=false "
                                    matSuffix>power_settings_new</mat-icon>
                            </mat-form-field>
                            <mat-form-field appearance="outline" style="width:130px !important"
                                *ngIf="column==='email'">
                                <mat-select name="Email" [(ngModel)]="element.email" placeholder="On/Off">
                                    <mat-option [value]="true">On</mat-option>
                                    <mat-option [value]="false">Off</mat-option>
                                </mat-select>
                                <mat-icon *ngIf="element.email == true " style="color: green;"
                                    matSuffix>power_settings_new</mat-icon>
                                <mat-icon *ngIf="element.email == false " style="color: red;"
                                    matSuffix>power_settings_new</mat-icon>
                                <mat-icon *ngIf="element.email != true && element.email!=false "
                                    matSuffix>power_settings_new</mat-icon>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="!element.isEdit" mat-icon-button aria-label="expand row"
                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="isEdit">
                    <th mat-header-cell *matHeaderCellDef>Modifier</th>
                    <td mat-cell *matCellDef="let element">
                        <button *ngIf="element.isEdit" type="submit" (click)="modifAlert(element)  "
                            mat-icon-button><mat-icon>done</mat-icon>
                        </button>
                        <button *ngIf="!element.isEdit" (click)="editMode(element)"
                            mat-icon-button><mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="supprimer">
                    <th mat-header-cell *matHeaderCellDef>Supprimer</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)="deleteAlerte(element.Id)"><mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                        <div class="example-element-detail row" *ngIf="!element.isEdit"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <ul *ngFor="let product of element.products">
                                <li class="example-element-description">
                                    {{product.nameProduct}}
                                    <button mat-icon-button style="top: 6px;"
                                        (click)="deleteTypeProduct(element.Id, product.nameProduct)"><mat-icon>clear</mat-icon></button>
                                </li>
                            </ul>
                        </div>
                        <div class="example-element-detail row" *ngIf="element.isEdit"
                            [@detailExpand]="element == 'expanded'">
                            <ul *ngFor="let product of element.products">
                                <li class="example-element-description">
                                    {{product.nameProduct}}
                                </li>
                            </ul>
                            <mat-form-field appearance="outline">
                                <mat-select [(ngModel)]="element.product" placeholder="Matériel" multiple>
                                    <mat-option *ngFor="let l of listTypeProduct"
                                        [value]="l">{{l.nameProduct}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;" class="example-element-row"
                    [class.example-expanded-row]="expandedElement === element"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>
        <div class="col-3" style="top: 100px; left: 20px">
            <button id="bouton_Alerte" type="submit" (click)="addRow()"> Ajouter une alerte</button>
        </div>
    </div>
    <div class="col-7 tableau">
        <h1>Déclenchement(s) <mat-icon color="warn">warning</mat-icon></h1>
        <mat-card>
            <mat-card-content>
                <table class="custom-table" mat-table *ngIf="dataSourceT.data.length != 0" [dataSource]="dataSourceT"
                    matSort>
                    <!-- Position Column -->
                    <ng-container matColumnDef="Alerte">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Alerte">
                            Alerte
                        </th>
                        <td mat-cell *matCellDef="let row"> {{row.alerte}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Seuil">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Seuil">
                            Seuil </th>
                        <td mat-cell *matCellDef="let row"> {{row.seuil}} </td>
                    </ng-container>

                    <!-- Destinataire Column -->
                    <ng-container matColumnDef="Date/Heure">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by Date/Heure">
                            Date </th>
                        <td mat-cell *matCellDef="let row"> {{row.date | date: 'le dd/MM/yy, à HH:mm' }} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Actions">
                            Action </th>
                        <td mat-cell *matCellDef="let row">
                            <p *ngIf="!row.isEditT">{{row.action}}</p>
                            <div *ngIf="row.isEditT">
                                <mat-form-field appearance="fill">
                                    <textarea style="align-content: center;" placeholder="Action à mener"
                                        [(ngModel)]="row.action" matInput></textarea>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Modification">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header
                            sortActionDescription="Sort by Modification">
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <button *ngIf="!row.isEditT" mat-icon-button (click)="editTMode(row)">
                                <mat-icon>keyboard</mat-icon>
                            </button>
                            <button *ngIf="row.isEditT" (click)="editTMode(row); modifAction(row)"
                                mat-icon-button><mat-icon>done</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns, sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator *ngIf="dataSourceT.data.length != 0" [length]="lengthDataSourceT" [pageSize]="5"
                    [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
                <div *ngIf="dataSourceT.data.length == 0">
                    <h4 style="text-align: center;">Aucune alerte est déclenchée.</h4>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</body>