.anyClass {
    margin-right: 15px;
    height: auto;
    overflow-y: scroll;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #ff001947;
}

.card {
    width: auto;
    height: 120px;
    transition: all .3s ease-in-out;
    justify-content: center;
}

.card:hover {

    transform: scale(1.07);
}

#cardHeader {
    justify-content: center;

}

#cardTitle {
    font-size: medium;

}

#cardContent {
    justify-content: center;
    text-align: center;
    vertical-align: bottom;


}


#invisibleButton {
    margin-left: 15px;
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
    border: none;
    background: none;
    outline: none;
}