<body>
    <div class="row m-4">
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>PC d'intercontrat</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.PC_intercontrat}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Clavier</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Clavier}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Souris</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Souris}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Poste structure</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Poste_structure}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Poste Mission</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Poste_mission}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Alimentation</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Alimentation}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Base</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Base}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>PC INT</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.PC_INT}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Téléphone mission</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Telephone_mission}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Téléphone structure</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Telephone_structure}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Ecran télétravail</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Ecran_teletravail}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Ecran structure</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Ecran_structure}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Casque mission</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Casque_mission}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Casque structure</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Casque_structure}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Support PC</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Support_PC}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Câbles HDMI</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Cables_HDMI}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Câbles Ethernet</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Cables_ethernet}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Badge structure</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Badge_structure}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Badge intercontrat</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Badge_intercontrat}}</p>
            </mat-card-content>
        </mat-card>
        <mat-card class="col-2 m-3">
            <mat-card-header>
                <mat-card-subtitle>Disponible en stock</mat-card-subtitle>
                <mat-card-title>Coque téléphone</mat-card-title>
            </mat-card-header>
            <mat-card-content class="m-1">
                <p>{{this.Coque_telephone}}</p>
            </mat-card-content>
        </mat-card>
    </div>
</body>